@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  /* background-color: #61dafb; */
}

.item {
  margin: 0 20px;
  text-decoration: none !important ;

  color: black;
  font-family: EB Garamond;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  transform: translateZ(3);
  transition: all 0.2s ease-in-out !important;
}

.item:hover {
  font-size: 25px;
  background-color: rgb(74, 116, 233);
  color: white;
  opacity: 70%;
}
.Logo {
  display: flex;
  flex: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 100px;
}
.Logo img {
  padding-right: 5px;
  /* border: solid black 2px; */
}
.Logo h3 {
  font-family: EB Garamond;
  font-style: normal;
  font-size: 42px;
  width: 50px;
}
.btn {
  background-color: #102d66 !important;
  color: white !important;
  border-radius: 4px;
  padding: 9px 15px 9px 15px;
}
.btn:hover {
  background-color: #102d66 !important;
  opacity: 100%;
}
