.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  /* background-color: #61dafb; */
}

.item {
  margin: 0 20px;
  text-decoration: none !important ;
  color: #000000 !important;
  font-family: EB Garamond;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}
.Logo {
  display: flex;
  flex: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 100px;
}
.Logo img {
  padding-right: 5px;
  /* border: solid black 2px; */
}
.Logo h3 {
  font-family: EB Garamond;
  font-style: normal;
  font-size: 42px;
  width: 50px;
}
.btn {
  background-color: #102d66;
  color: white !important;
  border-radius: 4px;
  padding: 9px 15px 9px 15px;
}
